appdirs==1.4.4
attrs==25.4.0
cached-property==2.0.1
certifi==2025.11.12
chardet==5.2.0
charset-normalizer==3.4.4
defusedxml==0.7.1
idna==3.11
isodate==0.7.2
lxml==6.0.2
platformdirs==4.5.0
pytz==2025.2
requests==2.32.5
requests-file==3.0.1
requests-toolbelt==1.0.0
six==1.17.0
urllib3==2.5.0
zeep==4.3.2
